<!doctype html>
<title>Hello from Flask</title>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src='../static/js/lib/threejs/build/three.js'></script>
	<script src='../static/js/lib/threejs/examples/js/Detector.js'></script>
	<script src='../static/js/lib/threejs/examples/js/renderers/SoftwareRenderer.js'></script>
	<script src='../static/js/lib/threejs/examples/js/renderers/CSS3DRenderer.js'></script>
	<script src='../static/js/lib/threejs/examples/js/renderers/CanvasRenderer.js'></script>
	<script src='../static/js/lib/threejs/examples/js/renderers/Projector.js'></script>
	<script src='../static/js/lib/threeVR/js/DeviceOrientationController.js'></script>
	<style>
			body {
				background-color: rgb(100,100,100);
				margin: 0px;
				overflow: hidden;
				font-family: Monospace;
				font-size: 200%;
			}

			#info {
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
			}

			#fps {
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: left;
				color: gray;
			}
	</style>
</head>

<body>
	<div id="container">
		<span id='fps'>fps</span>
		<span id='info'>click on the creature!</span>
	</div>
	<div id="reader" style="width:300px;height:250px"></div>
	<script src='../static/js/Creature.js'></script>
	<script src='../static/js/main.js'></script>
	
</body>
